<h6>Find Me On My Socials</h6>

<div class="socials-container">
    <div class="socials">
        <a href="https://www.instagram.com/mickael_desclaux/"><img class="socials-icons" src="Icons/instagram.png" alt="My Instagram Account" /></a>
        <a href="https://www.threads.net/%40mickael_desclaux/"><img class="socials-icons" src="Icons/threads.png" alt="My Threads Account" /></a>
        <a href="https://github.com/Mickael-Desclaux"><img class="socials-icons" src="Icons/github-1.png" alt="My Github Account" /></a>
    </div>
</div>

<div class="top_btn-container">
    <div class="top_btn">
        <a id="top_btn" href="#top">Back To Top</a>
    </div>
</div>