@rendermode @(new InteractiveServerRenderMode(prerender: false))

<header>
    <h1 id="top">
        <div class="logo-container">
            <img class="logo_img" src="Logo/Logo_ARJ.png" />
            <a href="/" class="logo_txt">A Reader's Journeys</a>
        </div>
    </h1>

    <input type="checkbox" id="check" @bind="IsNavbarExpanded">
    <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
        <a href="/" @onclick="ToggleNavbar">Home</a>
        <a href="/articles" @onclick="ToggleNavbar">Articles</a>
        <a href="/top_books" @onclick="ToggleNavbar">My Favorites</a>
    </nav>
</header>

@code {
    private bool IsNavbarExpanded = false;

    private void ToggleNavbar()
    {
        IsNavbarExpanded = !IsNavbarExpanded;
    }
}