h2 {
    padding-top: 150px;
    font-family: 'Crimson Text';
    font-size: 2.5rem;
    color: #202020;
    text-align: center;
}

.articles_list {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.article {
    display: flex;
    align-items: flex-start;
    text-align: left;
    min-width: 80vw;
    margin-bottom: 1rem;
    flex-direction: row;
    border-radius: 0.5rem;
    color: #EAD2AC;
    background-color: #004548;
    padding: 1rem;
}

.book_img {
    max-width: 20vh;
    object-fit: cover;
    height: auto;
}

.book_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3rem;
    flex: 1;
    height: 100%;
}

    .book_infos h3 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
        text-decoration: underline;
    }

    .book_infos a {
        text-decoration: none;
        color: #EAD2AC;
    }

    .book_infos p {
        padding-top: 1rem;
        padding-bottom: 1rem;
        flex-grow: 1;
    }

    .admin_btn {
        padding: 1rem 0 1rem 0;
    }

    .admin_btn button {
        background-color: #202020;
        padding: 0.5rem;
        border-radius: 0.2rem;
    }

.bxs-plus-circle {
    position: fixed;
    bottom: 100px;
    right: 50px;
    font-size: 5rem;
    color: red;
}

@media (max-width: 819px) {
    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
        padding-top: 2rem;
        margin: 1rem;
    }

    .book_img {
        max-width: 50%;
        margin: 1rem;
    }

    .book_infos {
        padding: 0;
        margin-bottom: 1rem;
        width: 80%;
    }

    .admin_btn {
        display: flex;
        justify-content: center;
    }

        .admin_btn button {
            margin: 0.5rem;
        }

    .bxs-plus-circle {
        color: red;
        bottom: 25px;
        right: 25px;
    }
}
