h2 {
    font-family: 'Crimson Text';
    font-size: 2.5rem;
    color: #202020;
    text-align: center;
}

.articles_list {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.article {
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 80vw;
    margin-bottom: 1rem;
    flex-direction: row;
    border: 1px solid black;
    color: #EAD2AC;
    background-color: #004548;
    padding: 1rem;
}

.book_img {
    max-width: 20vh;
    object-fit: cover;
    height: auto;
}

.book_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3rem;
    flex: 1;
    height: 100%;
}

    .book_infos h3 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
        text-decoration: underline;
    }

    .book_infos a {
        text-decoration: none;
        color: #EAD2AC;
    }

    .book_infos p {
        padding-top: 1rem;
        padding-bottom: 1rem;
        flex-grow: 1;
    }

.book_infos_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.favorite_icon {
    width: 80px;
    margin-right: 50px;
}

.admin_btn {
    padding: 1rem 0 1rem 0;
}

    .admin_btn button {
        background-color: #202020;
        padding: 0.5rem;
        border-radius: 0.2rem;
    }

.bxs-plus-circle {
    position: fixed;
    bottom: 100px;
    right: 50px;
    font-size: 5rem;
    color: red;
}

.border {
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    min-height: 200px;
    border: 8px solid;
    padding: 1rem;
}

.search_container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.search_input {
    width: 30%;
}

.search_btn {
    background-color: #004548;
    color: #EAD2AC;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 0.2rem;
}

@media (max-width: 819px) {
    h2 {
        margin-top: 1.5rem;
    }

    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90vw;
        padding-top: 1rem;
        margin: 0 0 1rem 0;
        border-radius: 0.2rem;
    }

    .book_img {
        width: 100%;
        margin: 0.5rem;
    }

    .book_infos {
        padding: 0;
        margin-bottom: 1rem;
        width: 80%;
    }

    .book_infos_title {
        display: flex;
        flex-direction: column;
    }

    .favorite_icon {
        margin: 0;
    }

    .admin_btn {
        display: flex;
        justify-content: center;
    }

        .admin_btn button {
            margin: 0.5rem;
        }

    .bxs-plus-circle {
        color: red;
        bottom: 25px;
        right: 25px;
    }

    .search {
        width: 100%;
        flex-wrap: wrap;
        margin: 2rem 0 0 0;
    }

    .search_input {
        width: 90%;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
}
