@page "/EditArticle/{ArticleId:int?}"
@inherits MyBlog.WebApp.Components.Pages.ComponentsBase.EditArticleBase
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Edit an article</h3>

<EditForm Model="@Article" OnValidSubmit="EditArticle" FormName="articleForm">
    <InputText id="bookTitle" @bind-Value="Article.BookTitle"/><br>
    <InputText id="bookAuthor" @bind-Value="Article.BookAuthor"/><br>
    <InputText id="bookCover" @bind-Value="Article.BookCover"/><br>
    <InputText id="bookResume" @bind-Value="Article.BookResume"/><br>
    <InputNumber id="bookNumOfPages" @bind-Value="Article.BookNumberOfPages"/><br>
    <InputText id="textSection" @bind-Value="Article.TextSection"/><br>
    <InputText id="reviewResume" @bind-Value="Article.ReviewResume"/><br>
    <InputNumber id="myNote" @bind-Value="Article.MyNote"/><br>
    @if (Article.Quotes != null && Article.Quotes.Count > 0)
    {
        foreach (var quote in Article.Quotes)
        {
            <div>
                <span>@quote</span>
                <button @onclick="() => RemoveQuote(quote)">Delete quote</button>
            </div>
        }
    }
    
    <InputText id="newQuote" @bind-Value="NewQuote"/>
    <button @onclick="AddQuote">Add a new quote</button><br/>

    <button type="submit">Update</button>
</EditForm>