.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
    color: #EAD2AC;
    background-color: #202020;
}

.intro-container {
    width: 80%;
}

.intro h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.intro p {
    font-size: 1.2rem;
}

.intro a {
    color: #48A9A6;
}

.last_readings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.last_readings-container {
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
    text-align: center;
    color: #EAD2AC;
    background-color: #004548;
}

.last_readings h3 {
    font-size: 2rem;
}