@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using Microsoft.AspNetCore.Components.Authorization
@using MyBlog.WebApp.Services
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthenticationService authService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

@if (IsUserAuthenticated)
{
    <p>Email de l'utilisateur connecté : @userEmail</p>
    <button @onclick="Logout">Déconnexion</button>
}

@code {
    private string userEmail = "";
    protected bool IsUserAuthenticated { get; private set; }

    private async Task Logout()
    {
        await authService.Logout();
    }

    protected override async Task OnInitializedAsync()
    {
        var isAuthenticated = await authService.IsUserAuthenticated();
        IsUserAuthenticated = isAuthenticated;
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            userEmail = user.FindFirst(c => c.Type == System.Security.Claims.ClaimTypes.Email)?.Value ?? "Non spécifié";
        }
    }
}