@page "/Login"
@inherits MyBlog.WebApp.Components.Pages.ComponentsBase.LoginBase
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>UserConnection</h3>

<EditForm Model="@user" OnValidSubmit="LoginAsync">
    <InputText @bind-Value="user.Email" />
    <InputText @bind-Value="user.Password" type="password" />

    <button type="submit">Register</button>
</EditForm>
